RewriteEngine On
RewriteRule ^dashbord$  profile.php
RewriteRule ^cart$    pages/php/cart_design.php
#RewriteRule ^price/([0-9]+)/([0-9]+)$ pages/php/price.php?max=$1&&min=$2
#RewriteRule ^city/([a-zA-Z]+)$ pages/php/city.php?city=$1
RewriteRule ^notification$ pages/php/notification_main.php

RewriteRule ^books/(.*)$    pages/php/buy_product_design.php?product_id=$1
RewriteRule ^search/(.*)$   pages/php/search.php?search=$1
RewriteRule ^([a-z]+)$ $1.php
RewriteRule ^books/$ http://localhost/bookstore/shop/error
#RewriteCond %{SERVER_PORT} 80
#RewriteCond %{HTTP_HOST} ^(www\.)?blogbabaji\.com
#RewriteRule ^(.*)$ https://blogbabaji.com [R,L]
ErrorDocument 404 http://localhost/bookstore/shop/error
ErrorDocument 403 http://localhost/bookstore/shop/error